<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to Pet 2 Vet!</h1>
    <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Quibusdam eos laudantium dolores! Atque et commodi tempore in ipsum
      quos sit iusto? Veritatis perspiciatis dolore obcaecati, accusamus
      assumenda earum a quam.</p>
    <button class="btn btn-primary btn-lg" type="button">Register Your Pet</button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="/assets/image.JPG" class="w-100" alt="dog running" />
    </div>
  </div>
</div>