<div class="p-5 mb-4 bg-white rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-1 fw-bold">Welcome to Pet 2 Vet</h1>
    <p class=" lead col-md-8 fs-4">Our team cares about the health and happiness of you and your pets. We offer a variety of services in the <strong>Richmond, Virginia </strong>area.</p>
    <a href="/patients"<button class="btn btn-secondary btn-lg" type="button">Register Your Pet</button></a>
  </div>
</div>


<div class =" w-100 h-auto container-fluid background-image d-flex ">
  <div
      class=" w-50 row flex-grow-2 flex-shrink-1 btn-group-vertical"
      role="group"
      aria-label="Vertical button group">
      <a href="/patients"<button type="button" class=" border border-secondary col btn btn-info btn-lg pad">View My Pets</button></a>
       <a href="/services"<button type="button" class="border border-secondary col btn btn-info btn-lg pad">Services</button></a>
       <a href="/locations"<button type="button" class="border border-secondary col btn btn-info btn-lg pad">Locations</button></a>
   </div>
</div>


<div>
  <p></p>
</div>