
<div class="p-5 mb-4 bg-white rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-1 fw-bold">How to Find Us</h1>
    <p class=" lead col-md-8 fs-4">Here you will find ways to contact us, see out location on a map and book an appointment.</p>
  <button type="button" class="btn btn-primary">Schedule an appointment</button>

  </div>



     <div class="card p-6 mb-5 bg-white rounded-3" style="width: 25rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Address</strong>: 4390 Blimpy St., Richmond, VA &#127961;&#65039;</li>
    <li class="list-group-item"><strong>Phone</strong>: (804) 555-5555 &#9742;&#65039;</li>
    <li class="list-group-item"><strong>Hours</strong>: Monday - Friday, 8am - 5pm &#128197;</li>
  </ul>
    </div>
    

        <div class="card p-6 mb-5 bg-white rounded-3" style="width: 22rem;">
        <img src="/assets/Map for Pet-to-Vet.jpg" width="350" height="350" padding= "50" alt="Location Map"/>
        <p class="card-text">Check out our office location!</p>
        </div>


  <div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Find us on Social Media</h5>
    <p class="card-text">Follow us to stay up-to-date on Pet 2 Vet news and promotions!</p>
    <a href="#" style="text-decoration: none" class="card-link">Facebook</a>
    <a href="#" style="text-decoration: none" class="card-link">Twitter</a>
     <a href="#" style="text-decoration: none" class="card-link">Instagram</a>
  </div>
</div>
<script src="/js/logout.js"></script>
        
        