<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">How to find Us</h1>

    <h2>Our location is accessible and easy to find</h2>

    <div class="list of info">
        <ul>
            <li>
            <h3>Address: 4390 Blimpy Street Richmond, VA</h3>
            </li>

            <li>
            <h3>Phone: (804)555-5555</h3>
            </li>

            <li>
            <h3>Mon-Fri 8am-5pm</h3>
            </li>

        </ul>

        <div class="Map location">
        <img src="Map for Pet-to-Vet.jpg" alt="Location Map"/>

        </div>

    </div>
