<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">View and Update Your Pets</h1>
    <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Quibusdam eos laudantium dolores! Atque et commodi tempore in ipsum
      quos sit iusto? Veritatis perspiciatis dolore obcaecati, accusamus
      assumenda earum a quam.</p>
      <p>Need to update a pet's information? Click below.</p>
    <button class="btn btn-secondary btn-lg" type="button">Add a Pet</button>
    <button class="btn btn-secondary btn-lg" type="button">Update a Pet</button>
    <button class="btn btn-secondary btn-lg" type="button">Delete a Pet</button>

  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="image.JPG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pet</h5>
          <p class="card-text">Pet information goes here.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="image.JPG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pet</h5>
          <p class="card-text">Pet information goes here.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="image.JPG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pet</h5>
          <p class="card-text">This is a longer card with supporting text below
            as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="image.JPG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pet</h5>
          <p class="card-text">Pet information goes here.</p>
        </div>
      </div>
    </div>
  </div>
</div>