<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Services</h1>

    <h2>We offer a variety of services to ensure the health of your pet:</h2>

    <div class="list of services"

    <ul>
        
       
        
        
        
        <ul>
         <h3>Spay/Neuter &#9986;&#65039;</h3>

        <h3>General evaluation &#129658; </h3>

        <h3>Dental surgeries &#129463; </h3>

        <h3>Grooming &#128705;</h3>
        </ul>

        <h2>Vaccines:</h2>
        
        <h3>For Dogs &#128021;</h3>
            
            <ul>
        
                <li>
                Parovirus
                </li>
                <li>
                Rabies
                </li>
                <li>
                Canine adenovirus
                </li>
            </ul>
        <h3>For Cats &#128008;</h3>
            <ul>
                <li>
                Feline herpesvirus 1
                </li>
                <li>
                Feline calicivirus
                </li>
                <li>
                Rabies
                </li>
            </ul>
        

      