<div class="p-5 mb-4 bg-white rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-1 fw-bold">Services</h1>
    <p class=" lead col-md-8 fs-4">We offer a variety of services including everyday checkups, dental and surgical procedures.</p>
  </div>

       
<div class="services card p-6 mb-5 bg-white rounded-3 ">
  <ul class=" list-group list-group-flush">
    <li class="list-group-item"><font size="16">General evaluation &#129658;</font></li>
    <li class="list-group-item"><font size="16">Grooming 🛁</font></li>
    <li class="list-group-item"><font size="16">Spay and Neuter &#9986;&#65039;</font></li>
    <li class="list-group-item"><font size="16">Dental work &#129463;</font></li> 
  </ul>
    </div>
    
    
<div class="card">
  <div class="card-body">
    <h1 style = "text-align:center;">&#128021 We Offer Vaccines for Dogs and Cats &#128008;</h1>
  </div>
</div>    
        
<div class="card-group">
  <div class="card">
    <img src="/assets/dog-vax.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">For Dogs...</h5>
     <ul>
        
                <li>
                Parovirus
                </li>
                <li>
                Rabies
                </li>
                <li>
                Canine adenovirus
                </li>
            </ul>
    </div>
    
  </div>
  <div class="card">
    <img src="/assets/cat-vax.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">For Cats...</h5>
      <ul>
                <li>
                Feline herpesvirus 1
                </li>
                <li>
                Feline calicivirus
                </li>
                <li>
                Rabies
              </li>
	  </ul>
    </div>
    
  </div>
  <div class="card">
    <img src="/assets/bills-stock.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Insurance and Billing</h5>
      <p class="card-text">We accept many pet insurance providers and are willing to work with you to create a payment plan if you are unable to afford treatment for your pet.</p>
    </div>
    
  </div>
</div>
        
      

      