.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.background-image {
  background-image: url("/assets/image.JPG");
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;

  
}

.pad {
    padding: 40px 50px;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px !important;
}
