.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.background-image {
  background-image: url("/assets/image.JPG");

  background-position: center center;

  background-repeat: no-repeat;

  background-size: cover;

  background-color: white;
}

.pad {
  padding: 40px 50px;
  margin: 100px 40px;
  font-size: 30px;
  border-radius: 10px !important;
  color: white;
}
.pet-card {
  margin: 2px;
  background-color: lightgray;
  width: 25%;
}

@media (max-width: 767px) {
  .pet-card {
    width: 100%;
  }
  .background-image {
    background-attachment: fixed;
  }
}

#pt-dog-nav {
  color: white;
  border-radius: 3px;
  font-size: large;
  margin-bottom: 3px;
}
#pt-cat-nav {
  color: white;
  border-radius: 3px;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 3px;
}
